#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.logo-text {
  margin-left: 4%;
}

.filter-btn {
  background-color: greenyellow;
  border: solid 2px black;
  font-size: 0.4em;
  margin-left: 1em;
}
.search {
  position: absolute;
  top: 23%;
  justify-content: center;
  left: 81%;
  background-color: pink;
}

.account {
  position: absolute;
  justify-content: center;
  left: 90%;
  top: 23%;
  background-color: pink;
}

.container {
  display: flex;
  justify-content: center;
  margin-bottom: 150px;
}

nav {
  display: flex;
  position: absolute;
  color: black;
  gap: 2px;
  background-color: pink;
  width: 100%;
}

.homepage-header-container {
  display: flex;
  justify-content: center;
  position: absolute;
  height: 190vh;
  top: 80px;
  
}

.heading-hp {
  display: flex;
  position: absolute;
  left: 3.65em;
  white-space: nowrap;
  justify-content: center;
}

.article-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
  list-style-type: none;

}

.article-img {
  width: 200px;
}

.article-title {
  width: 200px;
}

.article-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.article-info-container {
  font-size: 0.5em;
  list-style-type: none;

}

.close {
  display: none;
}
.open {
  display: flex;
  
}