#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

body {
  color: #F4F5F6;
}

.logo-text {
  margin-left: 4%;
  color: white;
}

.filter-btn {
  background-color: greenyellow;
  border: solid 2px black;
  font-size: 0.4em;
  margin-left: 1em;
}
.search {
  position: absolute;
  top: 23%;
  justify-content: center;
  left: 81%;
  background-color: #0D274D;
}

.account {
  position: absolute;
  justify-content: center;
  left: 90%;
  top: 23%;
  background-color: #0D274D;
}

.container {
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  position: absolute;
  color: black;
  gap: 2px;
  background-color: #0D274D;
  width: 100%;
}

.homepage-header-container {
  display: flex;
  justify-content: center;
  position: absolute;
  height: 190vh;
  top: 80px;
  
}

.heading-hp {
  display: flex;
  position: absolute;
  left: 3.65em;
  white-space: nowrap;
  justify-content: center;
  color: black;
}

.article-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
  list-style-type: none;

}

body {
  display: initial !important;
}

.view-article-title {
  color: black;
}


.article-img {
  width: 200px;
}

.article-title {
  width: 200px;
  color: black;
}

.article-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 15%;
  color: black;
}

.article-info-container {
  font-size: 0.5em;
  list-style-type: none;
  color: blck;
}

.comments-container {
  border: solid 2px black;
  color: black;
}

.comments-container ul {
  list-style: none;
  margin: 30px;
}

.comments-container ul li{
  margin: 10px;
}


.view-article-info {
  margin-top: 20%;
  color: black;
}

.close {
  display: none;
}
.open {
  display: flex;
  
}